pytesseract==0.3.10
langchain==0.0.343
gpt4all==2.0.2
fastapi==0.104.1
langserve==0.0.32
opencv-python=4.9.0.80
#Following packages needed for langserve
orjson==3.9.10
sse-starlette==1.8.2
uvicorn==0.24.0.post1
click==8.1.7
httpx-sse==0.3.1 